<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game_App.Properties.Settings.Game_App_DbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Game_App_Db.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
	    <add name="Game_App_DBEntities" connectionString="metadata=res://*/Game_App_Model.csdl|res://*/Game_App_Model.ssdl|res://*/Game_App_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Game_App_DB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	    <add name="Game_App_DBEntities1" connectionString="metadata=res://*/Game_App_Db_Model.csdl|res://*/Game_App_Db_Model.ssdl|res://*/Game_App_Db_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Game_App_DB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>